{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %} Encuestas {% endblock %}</title>
        <link href="{% static 'css/base.css' %}" rel="stylesheet"> 
    </head>
    <body>
        <div id="header">
            {% if user.is_authenticated %}
            <span class="logo"> Bienvenido, {{ user.get_username }}.</span>
            {% else %}
            <span class="logo"> Bienvenido </span>
            {% endif %}
        </div>
        <div id="content">

            <h1>Departamentos disponibles: </h1>   

            {% if latest_department_list %}
            <ul>
                {% for department in latest_department_list %}
                
                <li><a href="{% url 'polls:questions' department.id %}">{{ department.department_text }}</a></li>
                
                {% endfor %}
            </ul>
            {% else %}
            <p>No hay departamentos.</p>
            {% endif %}
            
            {% if user.is_authenticated %}
            <a href="{% url 'account:logout' %}">Cerrar sesion</a>
            {% else %}
            <a href="{% url 'account:login' %}">Volver al inicio de sesion</a>
            {% endif %}
            
        </div>
    </body>
</html>


